body {
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
      }
      

.backGround {
    background-color: rgb(187, 208, 201);
    border-radius: 5px;
    margin: 10px;
    border: 1px solid black;
}

h1 {
    padding: 10px;
    text-align: center;
}

.para{
    padding: 10px;
    text-align: center;
}

.game {
    display: flex;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.response, .choice {
    background-color: rgb(187, 208, 201) ;
    border: 1px solid black;
    border-radius: 5px;
    flex: 1;
}

.pick {
    text-align: center;
}
.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
        border: 1px solid black;
        border-radius: 5px;
}

button:hover {
    background-color: rgb(118, 160, 146);
    border: 1px solid black;
    border-radius: 5px;
}

.picks {
    text-align: center;
}

#placeholder, #placeholdertwo {
    text-align: center;
}
